# Base de données PostgreSQL
DATABASE_URL=postgresql+asyncpg://postgres:supabase14.Com@db.biftryazdcxzvcwnqfcw.supabase.co:5432/postgres
DB_HOST=db.biftryazdcxzvcwnqfcw.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=supabase14.Com

# Application
DEBUG=true
APP_TITLE=LGS — Logiciel de Gestion Scolaire
APP_VERSION=1.0.0
ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:5173"]

# Email (SMTP) — laisser vide pour simuler en dev
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=votre_mot_de_passe

# SMS — laisser vide pour simuler en dev
SMS_API_KEY=
SMS_USERNAME=
